{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Courgette  ' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Akronim  ' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Shadows Into Light   ' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Kaushan Script ' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Gloria Hallelujah ' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet'>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="background:Magenta;>
                <div class="panel-body">
                    <h4 class="text-primary"   style="font-family:Gloria Hallelujah;">Add Song</h4>
                    <hr>
                    {% if message %}
                        <div class="alert alert-danger">
                            <h4>{{message}}</h4>
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="form-group">
                        <button type="submit" class="btn btn-info" style="width:80px;">SUBMIT</button>
                        </div>
                    </form>
                 </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


